/*________________________TEAM CONTACTS______________________________________*/

#show_img > .loading {
    width: 10vw;
    height: 10vh;
    background: url(/media/images/site/loading.png) center / contain no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 999;
    animation: r360 3s infinite linear;
    opacity: 0.5;
}
#show_img > .imgLoad {
    display: none;
}
@keyframes r360 {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
/*#contacts .m_image {*/
    /*width: 100%;*/
    /*height: 25vh;*/
    /*min-height: 150px;*/
    /*background: transparent url(/media/images/site/contacts_m_image.jpg) center / cover no-repeat;*/
    /*float: left;*/
/*}*/
/*#contacts .text_box {*/
    /*margin: 40px 0;*/
    /*float: left;*/
    /*width: 100%;*/
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*justify-content: space-around;*/
/*}*/
/*#contacts .text_box .col {*/
    /*float: left;*/
    /*max-width: 33%;*/
/*}*/
/*#contacts .text_box .col .title {*/
    /*color: #e12229;*/
    /*font-size: 12px;*/
    /*text-transform: uppercase;*/
/*}*/
/*#contacts .text_box .col .cont {*/
    /*min-height: 50px;*/
/*}*/
/*#contacts .text_box .col .cont span {*/
    /*font-size: 12px;*/
/*}*/
/*#contacts .text_box .col .button {*/
    /*width: 100%;*/
    /*background-color: #e12229; !* #aa1f11 #bf001f *!*/
    /*color: #fff;*/
    /*text-align: center;*/
    /*text-transform: uppercase;*/
    /*font-weight: bold;*/
    /*font-size: 15px;*/
    /*line-height: 30px;*/
    /*margin: 20px 0 0 0;*/
    /*cursor: pointer;*/
    /*opacity: 0;*/
    /*transition: 0.25s;*/
    /*border: 1px solid #fff0;*/
    /*box-sizing: border-box;*/
    /*display: block;*/
/*}*/
/*#contacts .text_box .col .button:hover {*/
    /*background-color: #fff;*/
    /*border: 1px solid #e12229;*/
    /*color: #e12229;*/
/*}*/
#contacts .map_box {
   margin-bottom: 50px;
}
/*#contacts .img_box {*/
    /*width: 100%;*/
    /*float: left;*/
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*justify-content: space-around;*/
    /*margin: 40px 0;*/
/*}*/
/*#contacts .img_box .img {*/
    /*width: 250px;*/
    /*height: 150px;*/
    /*float: left;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*background-origin: content-box;*/
    /*padding: 5px;*/
    /*border: 1px solid #dfdfdf;*/
/*}*/

/*.contact-team {*/
    /*width: 100%;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
/*}*/
/*.team-title {*/
    /*width: calc(100% - 80px);*/
    /*margin-left: 40px;*/
    /*margin-right: 40px;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/

/*}*/
/*.team-title h1 {*/
    /*font-family: "OpenSansRegular", "OpenSansRegular_IE";*/
    /*font-size: 30px;*/
    /*font-style: normal;*/
    /*font-stretch: normal;*/
    /*line-height: 1.25;*/
    /*letter-spacing: -2.4px;*/
    /*text-align: left;*/
    /*color: #292924;*/
    /*text-transform: uppercase;*/
    /*padding-bottom:30px;*/
    /*padding-top: 60px;*/
/*}*/
/*.contact-team .team-info-block {*/
    /*width: calc(20% - 20px);*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    /*margin-bottom: 30px;*/
/*}*/
/*.contact-team .team-info-block .image {*/
    /*width: 228px;*/
    /*height: 228px;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*border-radius: 50%;*/
    /*!*delete*!*/
    /*background-color: green;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-bottom: 42px;*/
/*}*/
/*.contact-team .team-info-block .info {*/
    /*text-align: center;*/
    /*padding: 0;*/
/*}*/
/*.contact-team .team-info-block .info span,*/
/*.contact-team .team-info-block .info p {*/
    /*font-family: "OpenSansRegular", "OpenSansRegular_IE";*/
    /*font-size: 16px;*/
    /*font-weight: bold;*/
    /*font-style: normal;*/
    /*font-stretch: normal;*/
    /*line-height: 1.5;*/
    /*letter-spacing: 0;*/
    /*color: #292924;*/
    /*margin: 0;*/
    /*padding-bottom: 10px;*/
/*}*/
/*.contact-team .team-info-block .phone {*/
    /*text-align: center;*/
/*}*/
/*.contact-team .team-info-block .phone a {*/
    /*display: inline-block;*/
    /*min-width: 230px;*/
    /*background-color: #c7001f;*/
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    /*color: #fff;*/
    /*text-decoration: none;*/
    /*transition: 0.3s ease-in-out;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*border: 1px solid #c7001f;*/
/*}*/
/*.contact-team .team-info-block .phone a:hover {*/
    /*background-color: #fff;*/
    /*color: #c7001f;*/
/*}*/
/*.contact-team .team-info-block .phone span,*/
/*.contact-team .team-info-block .phone p {*/
    /*margin: 0;*/
    /*font-family: "OpenSansRegular", "OpenSansRegular_IE";*/
    /*font-size: 18px;*/
    /*font-weight: bold;*/
    /*font-style: normal;*/
    /*font-stretch: normal;*/
    /*line-height: 1.33;*/
    /*letter-spacing: 0.1px;*/
    /*!*color: #ffffff;*!*/
/*}*/
/*.contact-team .team-info-block .phone span {*/
    /*text-transform: uppercase;*/
/*}*/


.contact-team {
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.team-title {
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 62px;
    display: flex;
    flex-wrap: wrap;
}

.team-title h1 {
    max-width: 510px;
    font-family: 'OpenSansRegular',"OpenSansLight", "OpenSansLight_IE", Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -2.4px;
    text-align: left;
    color: #292924;
    text-transform: uppercase;

}

.contact-team .team-info-block {
    width: calc(20% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.contact-team .team-info-block .image {
    width: 228px;
    height: 228px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 42px;
}

.contact-team .team-info-block .info {
    text-align: center;
    padding: 0;
}

.contact-team .team-info-block .info span,
.contact-team .team-info-block .info p {
    font-family: 'OpenSansRegular', "OpenSansLight", "OpenSansLight_IE", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0;
    color: #292924;
    margin: 0;
}

.contact-team .team-info-block .phone {
    text-align: center;

}

.contact-team .team-info-block .phone a {
    display: inline-block;
    min-width: 228px;
    background-color: #c7001f;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #c7001f;
}

.contact-team .team-info-block .phone a:hover {
    background-color: #fff;
    color: #c7001f;

}

.contact-team .team-info-block .phone span,
.contact-team .team-info-block .phone p {
    margin: 0;
    font-family: 'OpenSansRegular', "OpenSansLight", "OpenSansLight_IE", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.1px;

}

.contact-team .team-info-block .phone span {
    text-transform: uppercase;
}

/*Credit*/
/*.credit-bg {*/
    /*width: calc(100% - 80px);*/
    /*margin-left: 40px;*/
    /*margin-right: 40px;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: flex-end;*/
    /*padding-top: 55px;*/
    /*padding-bottom: 30px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*box-shadow: -1.7px 1px 10px 0 rgba(0, 0, 0, 0.4);*/
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
/*}*/
/*.credit-bg .credit-form {*/
    /*width: 374px;*/
    /*margin-right: 78px;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: column;*/
/*}*/
/*.credit-bg .credit-form h3 {*/
    /*font-family: "OpenSansRegular", "OpenSansRegular_IE";*/
    /*font-size: 30px;*/
    /*font-weight: bold;*/
    /*font-style: normal;*/
    /*font-stretch: normal;*/
    /*line-height: 1.2;*/
    /*letter-spacing: -0.9px;*/
    /*text-align: left;*/
    /*color: #545c67;*/
    /*margin-top: 0;*/
    /*margin-bottom: 10px;*/
    /*text-transform: uppercase;*/
/*}*/
/*.credit-bg .credit-form form {*/
    /*margin-bottom: 0;*/
/*}*/
/*.credit-bg .credit-form form input {*/
    /*width: calc(100% - 40px);*/
    /*padding: 6.5px 20px;*/
    /*border-radius: 5px;*/
    /*box-shadow: -1.7px 1px 10px 0 rgba(0, 0, 0, 0.4);*/
    /*border: none;*/
    /*background-color: #fffcfc;*/
    /*margin-bottom: 21px;*/
    /*font-family: Calibri;*/
    /*font-size: 24px;*/
    /*font-weight: bold;*/
    /*font-style: normal;*/
    /*font-stretch: normal;*/
    /*line-height: 1.5;*/
    /*letter-spacing: 0.1px;*/
    /*color: rgba(3, 3, 3, 1);*/
/*}*/
/*.credit-bg .credit-form form input::placeholder {*/
    /*font-family: Calibri;*/
    /*font-size: 24px;*/
    /*font-weight: bold;*/
    /*font-style: normal;*/
    /*font-stretch: normal;*/
    /*line-height: 1.5;*/
    /*letter-spacing: 0.1px;*/
    /*color: rgba(3, 3, 3, 0.35);*/
/*}*/
/*.credit-bg .credit-form form input:focus,*/
/*.credit-bg .credit-form .btns button:focus {*/
    /*outline: none;*/
/*}*/
/*.credit-bg .credit-form form input:focus {*/
    /*box-shadow: -1.7px 1px 10px 0 rgba(0, 0, 0, 0.6);*/
/*}*/
/*.credit-bg .credit-form .btns button {*/
    /*width: 100%;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*font-family: Calibri;*/
    /*font-size: 18px;*/
    /*font-weight: bold;*/
    /*font-style: normal;*/
    /*font-stretch: normal;*/
    /*letter-spacing: 0.1px;*/
    /*color: #fffcfc;*/
    /*text-transform: uppercase;*/
    /*padding: 11.5px;*/
    /*border-radius: 5px;*/
    /*border: 1px solid #a91e10;*/
    /*box-shadow: -1.7px 1px 10px 0 rgba(0, 0, 0, 0.4);*/
    /*background-color: #a91e10;*/
    /*cursor: pointer;*/
    /*transition: 0.3s ease-in-out;*/
/*}*/
/*.credit-bg .credit-form .btns button svg {*/
    /*margin-left: 10px;*/
/*}*/
/*.credit-bg .credit-form .btns button:hover svg path {*/
    /*transition: 0.3s ease-in-out;*/
/*}*/
/*.credit-bg .credit-form .btns button:hover {*/
    /*color: #a91e10;*/
    /*background-color: #fff;*/
/*}*/
/*.credit-bg .credit-form .btns button:hover svg path {*/
    /*fill: #a91e10;*/
/*}*/

.credit-bg {
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 60px;
    padding-bottom: 29px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: -1.7px 1px 10px 0 rgba(0, 0, 0, 0.4);
    margin-top: 30px;
    margin-bottom: 50px;
}

.credit-bg .credit-form {
    width: 374px;
    margin-right: 78px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.credit-bg .credit-form h3 {
    font-family: 'OpenSansRegular', "OpenSansLight", "OpenSansLight_IE", Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: -0.9px;
    text-align: left;
    color: #545c67;
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: 31px;

}

.credit-bg .credit-form form {
    margin-bottom: 0;
}

.credit-bg .credit-form form input {
    width: calc(100% - 40px);
    padding: 6.5px 20px;
    border-radius: 5px;
    box-shadow: -1.7px 1px 10px 0 rgba(0, 0, 0, 0.4);
    border: none;
    background-color: #fffcfc;
    margin-bottom: 21px;
    font-family: 'Calibri';
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: rgba(3, 3, 3, 1);
}

.credit-bg .credit-form form input::placeholder {
    font-family: 'Calibri';
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: rgba(3, 3, 3, 0.35);

}

.credit-bg .credit-form form input:focus,
.credit-bg .credit-form .btns button:focus {
    outline: none;
}

.credit-bg .credit-form form input:focus {
    box-shadow: -1.7px 1px 10px 0 rgba(0, 0, 0, 0.6);
}

.credit-bg .credit-form .btns button {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Calibri';
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.1px;
    color: #fffcfc;
    text-transform: uppercase;
    padding: 12.5px;
    border-radius: 5px;
    border: 1px solid #a91e10;
    box-shadow: -1.7px 1px 10px 0 rgba(0, 0, 0, 0.4);
    background-color: #a91e10;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.credit-bg .credit-form .btns button svg {
    margin-left: 10px;
}

.credit-bg .credit-form .btns button:hover svg path {
    transition: 0.3s ease-in-out;
}

.credit-bg .credit-form .btns button:hover {
    color: #a91e10;
    background-color: #fff;
}

.credit-bg .credit-form .btns button:hover svg path {
    fill: #a91e10;
}

/*.content-carousel{*/
    /*width: calc(100% - 80px);*/
    /*margin-left: 40px;*/
    /*margin-right: 40px;*/
/*}*/
/*.image-gallery-carousel{*/
    /*width: 100%;*/
    /*position: relative;*/
/*}*/
/*.image-gallery-carousel .item{*/
    /*width: calc(100% - 70px);*/
    /*margin-left: 35px;*/
    /*margin-right: 35px;*/
    /*height: 246px;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
/*}*/
/*.image-gallery-carousel .owl-nav .owl-prev,*/
/*.image-gallery-carousel .owl-nav .owl-next {*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*margin-top: -20px;*/
/*}*/
/*.image-gallery-carousel .owl-nav .owl-prev svg,*/
/*.image-gallery-carousel .owl-nav .owl-next svg{*/
    /*transition: 0.3s ease-in-out;*/
/*}*/
/*.image-gallery-carousel .owl-nav .owl-prev:hover svg,*/
/*.image-gallery-carousel .owl-nav .owl-next:hover svg{*/
    /*opacity: 0.7;*/
/*}*/
/*.image-gallery-carousel .owl-nav button:focus{*/
    /*outline: none;*/
/*}*/
/*.image-gallery-carousel .owl-nav .owl-prev{*/
    /*left: -30px;*/
/*}*/
/*.image-gallery-carousel .owl-nav .owl-next{*/
    /*right: -30px;*/
/*}*/
/*.title-carousel{*/
    /*height: 70px;*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*width: 100%;*/
    /*margin-top: 40px;*/
    /*margin-bottom: 40px;*/
/*}*/
.title-top-sales,
.title-carousel h1{
    font-family: "OpenSansRegular", "OpenSansRegular_IE";
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ca0300;
    text-transform: uppercase;
}
/*@media (max-width: 1440px) {*/
    /*.contact-team .team-info-block .image {*/
        /*width: 190px;*/
        /*height: 190px;*/
    /*}*/
    /*.contact-team .team-info-block .phone a {*/
        /*min-width: 100%;*/
    /*}*/
/*}*/
/*@media (max-width: 1220px) {*/
    /*.contact-team .team-info-block {*/
        /*width: calc(33.33% - 20px);*/
    /*}*/
    /*.contact-team .team-info-block .image {*/
        /*width: 150px;*/
        /*height: 150px;*/
    /*}*/
/*}*/
/*@media (max-width: 900px) {*/
    .team-title,
    .contact-team,
    .credit-bg {
        width: calc(100% - 30px);
        margin-left: 15px;
        margin-right: 15px;
    }

    /*!*Credit*!*/
    /*.credit-bg .credit-form {*/
        /*margin-left: auto;*/
        /*margin-right: auto;*/
    /*}*/
/*}*/
/*@media (max-width: 770px) {*/
    /*.contact-team .team-info-block {*/
        /*width: calc(50% - 10px);*/
        /*margin-left: 5px;*/
        /*margin-right: 5px;*/
    /*}*/
    /*.title-carousel h1{*/
        /*font-size: 26px;*/
    /*}*/
    /*.content-carousel{*/
        /*width: calc(100% - 30px);*/
        /*margin-left: 15px;*/
        /*margin-right: 15px;*/
    /*}*/
    /*.image-gallery-carousel .owl-nav .owl-next{*/
        /*right: -20px;*/
    /*}*/
    /*.image-gallery-carousel .owl-nav .owl-prev{*/
        /*left: -20px;*/
    /*}*/
    /*.image-gallery-carousel .item{*/
        /*width: calc(100% - 40px);*/
        /*margin-left: 20px;*/
        /*margin-right: 20px;*/
    /*}*/
/*}*/
/*@media (max-width: 510px) {*/
    /*.contact-team .team-info-block {*/
        /*width: 100%;*/
        /*margin-left: 0;*/
        /*margin-right: 0;*/
    /*}*/
    /*.credit-bg .credit-form {*/
        /*width: calc(100% - 30px);*/
    /*}*/
    /*.title-carousel {*/
        /*background-size: contain;*/
    /*}*/
/*}*/

.flip-title-carousel{
    height: 70px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    -moz-transform: scaleX(-1);
    -moz-transform: scaleY(-1);
    -o-transform: scaleX(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleX(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleX(-1);
    transform: scaleY(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}


.content-carousel {
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-right: 40px;
}

.image-gallery-carousel {
    width: 100%;
    position: relative;
}

.image-gallery-carousel .item {
    width: calc(100% - 50px);
    margin-left: 25px;
    margin-right: 25px;
    height: 246px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.image-gallery-carousel .owl-nav .owl-prev,
.image-gallery-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    margin-top: -20px;
}

.image-gallery-carousel .owl-nav .owl-prev svg,
.image-gallery-carousel .owl-nav .owl-next svg {
    transition: 0.3s ease-in-out;
}

.image-gallery-carousel .owl-nav .owl-prev:hover svg,
.image-gallery-carousel .owl-nav .owl-next:hover svg {
    opacity: 0.7;
}

.image-gallery-carousel .owl-nav button:focus {
    outline: none;
}

.image-gallery-carousel .owl-nav .owl-prev {
    left: -30px;
}

.image-gallery-carousel .owl-nav .owl-next {
    right: -30px;
}

.title-carousel {
    height: 70px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.title-carousel h1 {
    font-family:'OpenSansRegular',  "OpenSansLight", "OpenSansLight_IE", Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ca0300;
    text-transform: uppercase;

}
@media (max-width: 1590px){
    .contact-team .team-info-block .image{
        width: 190px;
        height: 190px;
    }
    .contact-team .team-info-block .phone a{
        min-width: 100%;
    }
}

@media (max-width: 1400px){
    #contacts .text_box .col {
        width: calc(33% - 50px);
        margin-left: 25px;
        margin-right: 25px;
    }
}
@media (max-width: 1300px) {
    #contacts .text_box .col {
        width: calc(33% - 30px);
        margin-left: auto;
        margin-right: auto;
    }
    .contact-team .team-info-block {
        width: calc(33.33% - 20px);
    }

}
@media (max-width: 1220px) {
    #contacts .text_box .col {
        width: calc(50% - 30px);
        margin-bottom: 20px;
    }

}

@media (max-width: 992px) {
    #contacts .text_box{
        margin: 50px 0;
    }
    .image-gallery-carousel .item {
        width: calc(100% - 30px);
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 900px) {
    .team-title,
    .contact-team,
    .credit-bg {
        width: calc(100% - 30px);
        margin-left: 15px;
        margin-right: 15px;
    }

    .team-title h1 {
        font-size: 35px;
        padding-left: 0;
    }

    /*Credit*/
    .credit-bg .credit-form {
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 770px) {

    .contact-team .team-info-block {
        width: calc(50% - 10px);
        margin-left: 5px;
        margin-right: 5px;
    }

    .title-carousel h1 {
        font-size: 26px;
    }

    .content-carousel {
        width: calc(100% - 30px);
        margin-left: 15px;
        margin-right: 15px;
    }

    .image-gallery-carousel .owl-nav .owl-next {
        right: -20px;
    }

    .image-gallery-carousel .owl-nav .owl-prev {
        left: -20px;
    }

}

@media (max-width: 510px) {
    .contact-team .team-info-block {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .credit-bg .credit-form {
        width: calc(100% - 30px);
    }

    .title-carousel {
        background-size: contain;
    }

}


.similar_items_catalog.sale-catalog{
    width: 100%;
    float: initial;
}
.car_box.similar.sales {
    width: 285px !important;
    margin-left: auto;
    margin-right: auto;

}
.title-top-sales{
    -moz-transform: scaleX(-1);
    -moz-transform: scaleY(-1);
    -o-transform: scaleX(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleX(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleX(-1);
    transform: scaleY(-1);
    color: #444;
}