RewriteEngine On

RewriteCond %{REQUEST_URI} ^/FordFocus/?$ [NC]
RewriteRule ^.*$ https://www.sauto.md/ro/cars?tg=fltr&mo=focus&br=ford&utm_source=999&utm_medium=free_listing&utm_campaign=ford_focus&utm_content=text_link [R=301,L]

RewriteCond %{REQUEST_URI} ^/MitsubishiOutlander/?$ [NC]
RewriteRule ^.*$ https://www.sauto.md/ro/cars?tg=fltr&mo=outlander&br=mitsubishi&utm_source=999&utm_medium=free_listing&utm_campaign=mitsubishi_outlander&utm_content=text_link [R=301,L]

RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteCond %{REQUEST_URI} !^/index\.php
RewriteCond %{REQUEST_URI} !^/fb_webhook\.php
RewriteCond %{REQUEST_URI} !^/tg_webhook\.php
RewriteCond %{REQUEST_URI} !^/deploy\.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

<IfModule mod_headers.c>
    Header always set Strict-Transport-Security "max-age=31536000"
</IfModule>

<IfModule lsapi_module>
   php_value max_execution_time 600
   php_value max_input_time 600
   php_value memory_limit 1024M
   php_value post_max_size 500M
   php_value upload_max_filesize 500M
</IfModule>
